<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; アフィリエイト会員登録 &gt; <span>入力フォーム</span> &gt; 入力内容の確認 &gt; 登録完了</div>

会員登録を行って頂くと、あなたのwebサイトにアフィリエイト広告を掲載して、報酬を得ることができます。<br />

<!--# variable error_msg #-->

<div class="search_list">
<dl>
<dt>ログイン用のメールアドレスとパスワードを半角英数で入力してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>メールアドレス<span>※</span></th>
    <td>
		<!--# form text mail 50 128 #-->
<!--# ifbegin val_equal (!--# ecode getSiteProfile nuser_default_activate #--) 1 #-->
	<span class="info">
		※必ず受信可能なメールアドレスを入力してください。<br />
		入力されたメールアドレスにアクティベートメールを送信しますので、手順に従ってユーザー認証を行ってください。
	</span>
<!--# endif #-->
	</td>
</tr>
<tr>
    <th>メールアドレス(再入力)<span>※</span></th>
    <td><!--# form text mail_confirm 50 128 #--></td>
</tr>
<tr>
    <th>パスワード<span>※</span></th>
    <td><!--# form password pass 25 128 #--></td>
</tr>
<tr>
    <th>パスワード(再入力)<span>※</span></th>
    <td><!--# form password pass_confirm 25 128 #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt>お名前、住所、電話番号、必要に応じFAX番号を入力してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>お名前<span>※</span></th>
    <td><!--# form text name 25 32 #--></td>
</tr>
<tr>
    <th>現住所<span>※</span></th>
    <td>〒&nbsp;<!--# form text zip1 3 3 #-->&nbsp;-&nbsp;<!--# form text zip2 4 4 #-->
    &nbsp;<!--# code tableSelectForm adds prefectures name id  未選択 #-->
    &nbsp;<!--# form text add_sub 48 128 #-->
</tr>
<tr>
    <th>電話番号<span>※</span></th>
    <td><!--# form text tel 15 15  #--></td>
</tr>
<tr>
    <th>FAX番号</th>
    <td><!--# form text fax 15 15  #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt>アフィリエイト用バナーを掲載するページのURLを入力してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th>バナー掲載ＵＲＬ<span>※</span></th>
    <td><!--# form text url 80 256 http:// #--></td>
</tr>
</table>
</dd>
</dl>
</div>

<div class="search_list">
<dl>
<dt>アフィリエイト報酬の振込先を入力してください。</dt>
<dd>
<table class="search_list_table" summary="詳細テーブル">
<tr>
    <th width="25%">金融機関名<span>※</span></th>
    <td width="25%"><!--# form text bank 30 30 #--></td>
    <th width="25%">金融機関番号<span>※</span></th>
    <td width="25%"><!--# form text bank_code 6 4 #--></td>
</tr>
<tr>
    <th>支店名<span>※</span></th>
    <td><!--# form text branch 30 30 #--></td>
    <th>支店番号<span>※</span></th>
    <td><!--# form text branch_code 5 3 #--></td>
</tr>
<tr>
    <th>種別<span>※</span></th>
    <td colspan="3"><!--# form radio bank_type 1  1/2/4 普通/当座/貯蓄 #--></td>
</tr>
<tr>
    <th>口座番号<span>※</span></th>
    <td colspan="3"><!--# form text number 15 7 #--></td>
</tr>
<tr>
    <th>口座名義(カナ)<span>※</span></th>
    <td colspan="3"><!--# form text bank_name 30 30 #--></td>
</tr>
</table>
</dd>
</dl>
</div>
<!--# form hidden parent #-->

<div class="input_box">
<input type="submit" value="入力内容の確認" class="input_base">
<input type="reset" value="リセット" class="input_base">
</div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
