<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt;  <span>広告カテゴリの管理</span></div>

    <div class="comp_list">
    <dl>
    <dt>[ EDIT - 広告カテゴリの管理 ]</dt>
    <dd>
    <p>現在登録中のカテゴリがありません。</p>
        <ul>
        <li><a href="regist.php?type=category">こちら</a>から新規にカテゴリを追加してください。</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
